.titles{
    font-family: 'Pattaya', sans-serif;
    font-size:30px;
}
.card{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0;
}
.tops{
    margin-top:100px;
}
.jumbotron{
    font-family: 'Pattaya', sans-serif;
    background-image: url(../img/back.png);
    background-position:cover;
    
    
}

.btn{
    font-family: 'Pattaya', sans-serif;   
}
